#GENERAL
#confidence thresholds - normalized  values, between 0.01 and 0.99
confidence.treshold.max = 0.7
confidence.treshold.min = 0.2
#reduction factor for confidence
confidence.reduction.factor= 5.0

#VISION ENGINE
#allow generalization on ontology
flag.allow.generalization = true

#MIRROR ENGINE
#the learning algorithm to use
learning.base.algorithm=W_KSTAR
#WekaConnector dataset capacity
mirror.weka.dataset.capacity=100
#allow mirror mechanism in learning stage
flag.allow.mirror.in.learning = true

#MEMORY AND RECALL
#use behaviours as lists of actions
flag.storeActionInstanceParams=true
#allow the recall mechanism in the execution stage
flag.enableRecall=true
#allow the use of similar behaviours in recall
flag.useSimilarBehaviours=true;
#Timeout to look for specific conditions
learningStage.findCondition.timeout=10

#EVALUATION
#confidence reduction factor when facing a not listed behaviour
behaviour.not.listed = 1
#confidence multiplier when facing different parameters
different.params.value = 0.5
#confidence initial value
confidence.initValue=0
#use negative training examples
eval.useNegativeTraining=true

#ontology related
ontology.base.sourcepath=http://embodiedlearningbyobservation.googlecode.com/svn/ontology/softwareimage.owl
ontology.base.namespace=http://embodiedlearningbyobservation.googlecode.com/svn/ontology/softwareimage.owl#
ontology.domain.sourcepath=http://embodiedlearningbyobservation.googlecode.com/svn/ontology/learningscenarios.owl
ontology.domain.namespace=http://embodiedlearningbyobservation.googlecode.com/svn/ontology/learningscenarios.owl#